body {
    background-color: rgb(1, 65, 86);
    background-image: url("http://4.bp.blogspot.com/-Tz2h4J4VdPw/UvezidpNOeI/AAAAAAAAJck/oHfz4EHTg7o/s1600/2013_movies_wallpaper_by_z_designs-d5u94o3.jpg");
  }

h1 {
    background: rgba(87, 140, 204, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7.7px);
    color: darkcyan;
    font-size: 70px;
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    background: rgba(87, 140, 204, 0.12);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(87, 140, 204, 0.29);
    color: aliceblue;
    font-size: large;
}

.center {
    margin: 0;
    position: absolute;
    top: 49%;
    left: 67%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

button {
    background-color: transparent;
    border: none;
    
}

button:hover {
    background-color: aliceblue;
    border-radius: 2px;
}

.label {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(87, 140, 204, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(87, 140, 204, 0.29);
    width: 50%;
    color:teal;
    text-align: center;
    margin-left: 400px;

}

label {
    font-size: 200px;
}