<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Movie Sentiment Analysis</h1>
    <form action="" method="post">
        <div class="text-1">
            <textarea name="user-input" id="user-input" cols="60" rows="10" placeholder="type here about your comments of movie"></textarea>
        </div>
        <div class="center">
            <button type="submit"><img src="{{url_for('static', filename='images/plane.png')}}" alt="Send " /></button>
        </div>
    </form>
    <div class="label">
        <label for="">{{text}}</label>
    </div>
</body>
</html>